.v-menu {
  display: inline-block;
  position: relative;
}
.v-ellipse {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.menu-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  z-index: 1;
}
.menu-dropdown li {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  cursor: pointer;
}
.show ul {
  display: block;
}
