@import "./../../scss/definitions/variables.scss";
.bottom-navigation {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: $border-grey;
    font-size: 0.9rem;
    padding: 5px;
    ul {
        text-align: center;
        li {
            display: inline-block;
            width: calc(100% / 5);
            padding: 10px 0;
        }
    }
}