@import "./../../scss/definitions/variables.scss";
.dashboard {
  margin: 50px 0 30px;
  padding: 15px;
  .scroll-banner {
    height: 150px;
    width: 100%;
    border-radius: 15px;
    box-shadow: -1px -1px 25px 0px #ccc;
    position: relative;
    overflow: hidden;
    background: $menu-bg;
    .scroll-item {
      height: 100%;
      text-align: center;
      background-position: center;
      background-size: cover;
    }
    ul {
      text-align: center;
      bottom: 5px;
      position: absolute;
      width: 100%;
      li {
        height: 5px;
        width: 5px;
        border-radius: 50%;
        display: inline-block;
        margin: 2px;
        background: $lbl-grey;
        &.active {
          background: $primary;
        }
      }
    }
  }
  .store-url {
    margin-top: 15px;
    background: $primary;
    color: $white;
    padding: 15px;
    border-radius: 5px;
    label {
      display: inline-block;
      font-weight: bold;
      font-size: 0.8rem;
    }
  }
  .store-kyc {
    padding: 15px;
    margin-top: 15px;
    h5 {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
    ul {
      display: block;
      li {
        list-style-type: decimal;
        margin-left: 15px;
      }
    }
  }
  .services {
    margin-top: 15px;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: calc(33% - 20px);
        display: inline-block;
        text-align: center;
        box-shadow: -1px -1px 25px 0px #ccc;
        padding: 15px 5px;
        border-radius: 5px;
        margin-bottom: 15px;
        label {
          display: block;
          font-size: 0.75rem;
        }
        &:nth-child(3n + 2) {
          margin: 0 15px 15px;
        }
      }
    }
  }
}
