@import "./../../../scss/definitions/variables.scss";


.edit-container {
  margin: 100px 0 55px;
  .elements {
    margin: 0 10px;
  }
  h3 {
    color: $primary;
    padding: 0 0 10px;
  }
  .options {
    display: inline-block !important;
    width: 50%;
    label {
      margin: 0 0 0 5px;
    }
    svg {
      vertical-align: sub;
    }
  }
  .upload {
    margin-top: 10px;
  }
  .uploaded-image {
    position: relative;
    .remove {
      position: absolute;
      top: 0;
      right: 0;
      background: $primary;
    }
  }
  .image-placeholder,
  .camera-placeholder {
    position: relative;
    height: 35px;
    background: $primary;
    margin-bottom: 15px;
    border-radius: 5px;
    width: calc(50% - 22px);
    display: inline-block;
    padding: 5px 10px;
    svg {
      margin-top: 5px;
    }
    label {
      display: inline-block;
      vertical-align: super;
      margin-left: 5px;
      font-size: 0.9rem;
      color: $white;
    }
    &:last-child {
      margin-left: 4px;
    }
    input {
      opacity: 0;
      position: absolute;
      height: 35px;
      padding: 0;
      margin: 0;
      left: 0;
      width: 100%;
    }
  }
  .image-container {
    display: flex;
    width: calc(100% + 15px);
    margin-left: -5px;
    flex-wrap: wrap;
    margin-bottom: 5px;
    .uploaded-image {
      position: relative;
      margin: 5px;
      width: calc(33% - 10px);
      height: 100px;
      background-position: center;
      background-size: cover;
      .remove {
        position: absolute;
        top: 0;
        right: 0;
        background: $primary;
      }
    }
  }
   .product-img {
    height: 150px;
    width: 150px;
    align-items: center;
  }
  div.input {
    ul {
      li {
        display: block;
        margin-bottom: 10px;
        position: relative;
        button {
          padding: 12px;
      margin-right: 10px;
          border: none;
          border-radius: 5px;
          background: none;
          font-size: 1rem;
          background: $primary;
          color: $white;
          width: 100%;
        }
        span {
          font-size: 1rem;
          color: $lbl-grey;
          label {
            display: inline-block;
            vertical-align: super;
            margin-left: 3px;
          }
        }
        a.fp {
          float: right;
          font-size: 1rem;
        }
    
      }
    }
  
  .row-view {
    display: -ms-grid;
  }
  .text-row {
    float: left;
  }
  .switch-view {
    float: right;
  }
  .toggle-view {
    display: grid;
    grid-template-columns: 100px 100px;
  }
  .list-view {
    display: grid;
    grid-template-columns: 100px 500px;
    margin: 10px;
  }
  .button {
    padding: 6px;
    border: none;
    border-radius: 5px;
    background: none;
    font-size: 16px;
    background: $primary;
    margin-left: 20px;
    color: $white;
    width: 25%;
    margin-top: 10px;
  }
  .list-container {
    border: 1px solid lightgrey;
    padding: 5px;
  }
  .input-view {
    justify-content: center;
  }
  .radio {
    justify-content: space-between;
    margin-top: 10px;
  }

  .product-img {
    height: 150px;
    width: 150px;
    align-items: center;
  }
  .thumbnail-img {
    height: 80px;
    width: 80px;
  }
}
}
