$primary: #3f51b5;
$lbl-grey: #aaaaaa;
$border-grey: #eeeeee;
$white: #ffffff;
$menu-bg: #cfd8ff;
$black: #000000;
$warn: #ffffa5;
$new: orange;
$accept: #00b4e0;
$reject: red;
$shipped: #ff9100;
$delivered: green;
$whiteOP1: rgba(255,255,255,0.1);
