@import "./../../../scss/definitions/variables.scss";
.products {
  height: calc(100% - 150px);
  margin: 100px 0 50px;
  overflow: auto;
  .product-img {
    height: 150px;
    width: 150px;
    align-items: center;
  }

  //list view
  .product {
    .tile {
      margin: 10px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      height: 80px;
      .image-box {
        width: 80px;
        height: 80px;
        background-position: center;
        background-size: cover;
        display: inline-block;
        border-right: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
        position: relative;
        .placeholder {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .elements {
        display: inline-block;
        width: calc(100% - 101px);
        position: relative;
        vertical-align: top;
        padding: 5px 10px;
        font-size: 0.9rem;
      }
      .options {
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
    .list-view {
      display: grid;
      grid-template-columns: 35% 500px;
    }
    .button {
      padding: 6px;
      border: none;
      border-radius: 5px;
      background: none;
      font-size: 16px;
      background: $primary;
      margin-left: 20px;
      color: $white;
      width: 32%;
      margin-top: 10px;
    }
  }
  .row-view {
    display: -ms-grid;
    .text-row {
      float: left;
    }
    .switch-view {
      float: right;
    }
    .toggle-view {
      display: grid;
      grid-template-columns: 100px 100px;
    }
    .list-view {
      display: grid;
      grid-template-columns: 100px 500px;
      margin: 10px;
    }
    .button {
      padding: 6px;
      border: none;
      border-radius: 5px;
      background: none;
      font-size: 16px;
      background: $primary;
      margin-left: 20px;
      color: $white;
      width: 25%;
      margin-top: 10px;
    }
    input {
      padding: 10px;
      margin: 10px;
    }

    .input-view {
      justify-content: center;
    }
    .radio {
      justify-content: space-between;
      margin-top: 10px;
    }

    .product-img {
      height: 150px;
      width: 150px;
      align-items: center;
    }
    .thumbnail-img {
      height: 80px;
      width: 80px;
    }
    select {
      margin: 10px;
      width: 50%;
      height: 30px;
      font-weight: 700;
    }
    option {
      font-size: 20;
      font-weight: 600;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
